div {
    border-radius: 5px;
    
}
#header {
    z-index: 1;
    height: 80px;
    width: 97.5%;
    background: #7EB19F;
    position: fixed;
}
.left {
	position: relative;
	float: left;
	margin-top: 90px;
	width: 10%;
	height: 400px;
	background-color: #0C8282;
	margin-bottom: 10px;
  
}
.right {
    position: relative;
	float: right;
	margin-top: 90px;
	width: 88%;
	height: 400px;
	background-color: #EF9037;
	margin-bottom: 10px;
}
#footer {
    clear: both;
    color: yellow;
    height: 10px;
    width: 100%;
}

#name {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}

#mail {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
}
h1  {
    text-decoration: bold;
    margin-left: 10px;
    color: #fff;
    }

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 20px;
    color: #fff

}