div {
    border-radius: 5px;
    
}
#header {
    z-index: 1;
    height: 80px;
    width: 98%;
    background: #565d5a;
    position: absolute;
}
.left {
	position: relative;
	float: left;
	margin-top: 90px;
	width: 10%;
	height: 400px;
	background-color: #757b56;
	margin-bottom: 10px;
    padding-top: 15px;
  
}

.image {
margin: auto;
    width: 50px;
    height: 50px;
    padding: 50%;
}
.right {
    position: relative;
	float: right;
	margin-top: 90px;
	width: 88%;
	height: 400px;
	background-color: #8c8c8c;
	margin-bottom: 10px;
    margin-right: 20px
}
#footer {
    clear: both;
    color: yellow;
    height: 30px;
    width: 100%;
}

#name {
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 10px;
}

#mail {
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    
}
h1  {
    text-decoration: bold;
    margin-left: 10px;
    color: #fff;
    }

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin-left: 20px;
    color: #564c4c