div {
    border-radius: 5px;
    
}
#header {
    z-index: 1;
    height: 80px;
    width: 97.5%;
    background: red;
    position: fixed;
}
.left {
   float: left;
}
.right {
    float: right;
}
#footer {
    clear: both;
}
