html {
	font-size: small;
}

div {
	display: block;
	text-align: -webkit-left;
}

body {
	font-family: Arial, sans-serif;
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	background-color: #FFFFFF;
	
}


li  {
	float: right;
	text-decoration-color: black;
	text-decoration: none;
	list-style-type: none;
	font-size: 15px;

}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	

}

.reset {
	-webkit-appearance: none;
}

#signin {
	float: right;
	text-align: center;
	margin: 15px;
	text-decoration: none;
}

.logo {
	margin: 150px auto auto;
	clear: right;
	display: block;
}

.search {
	position: relative;
	bottom: 40px;
	width: 503px;
	height: 

}
