

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}


li  {
		float: right;
}

li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}

.reset {
	-webkit-appearance: none;
}

#signin {
	float: right;
	text-align: center;
	
	text-decoration: none;
}