div {
    display: block;
}
#lga {
    height: 231px;
    margin-top: 45px;
    text-align: -webkit-center;
}

#mngb {
    position: absolute;
    top: 15px;
    -webkit-transition: opacity 130ms;
    width: 100%;
}