element.style {
    padding-top: 112px;
}

body {
    font: small arial, sans-serif;
    margin: 0;
    min-height: 616px;
    text-align: center;
}



img  {
    margin: auto;
    display: block;
    position: absolute;
    width: 40%;

}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#lga {
    height: 231px;
    margin-top: 45px;
    text-align: -webkit-center;
}

#mngb {
    position: absolute;
    top: 15px;
    width: 100%;
}