

body {
  background-color: white;
  font-family: arial, sans-serif;
  margin: 20px 0 0 0;
  height: 100%;
}

header {
  width: auto;
}

nav {
  float: right;
  width: 30%;
  margin: 0 1.5% 24px 1.5%;
}
z
