

	html {
		font-size: small;
	}

	div {
		display: block;
	}


	body {
		font-family: Arial, sans-serif;
		text-decoration: none;
		text-align: -webkit-center;
	}

	ul {
		list-style-type: none;
		margin: 0;
		overflow: hidden;
		background-color: #FFFFFF;
		
	}


	li  {
		float: right;
		text-decoration-color: none;
		text-decoration: none;
		list-style-type: none;
		color: black;
		font: small arial,sans-serif;
		vertical-align: middle;
	}

	li a {
		display: block;
		text-align: center;
		padding: 16px 9px;
		text-decoration: none;
		color: #666666;
	}
	
	.button {
		display: inline;
		margin: 15px 3px;
		color: #f2f2f2;
		background-color: #f2f2f2;
		padding: 10px 15px;
		font-weight: bold;
		font-size: small;
		
	}


/* class to stop webkit */
	.reset {
		-webkit-appearance: none;
	}

	#signin {
		float: right;
		text-align: center;
		margin: 15px;
	}

	.logo {
		margin: 150px auto auto;
		padding-bottom: 40px;
		
		display: block;
	}

	.search {
		-webkit-appearance: textfield;
		margin-right: auto;
		margin-left: auto;
		padding-left: auto;
	}

	input {
		-webkit-appearance: textfield;
		background-color: white;
		-webkit-rtl-ordering: logical;
		user-select: text;
		cursor: auto;
		user-select: text;
		cursor: auto;
		font: 18px arial,sans-serif;
		height: 39px;
		display: block;
		max-width: 672px;
		width: 618px;
		left: 0px;
		position: relative;
		box-shadow: 1px 1px 5px grey;
		border: 1px;
	}

	

	form {
		display: block;
		height: 39px;
		margin-top: 0px;
		font: 18px arial,sans-serif;
	}

	.logo-subtext {
		color: #4285f4;
		font: 16px/16px roboto-regular, arial, sans-serif;
		left: 115px;
		bottom: 60px;
		position: relative;
		
		white-space: nowrap;
	}